# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Config file
config.json

# Executables
bin/

# CMake
*.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
install_manifest.txt
compile_commands.json
_deps
